.fridge_title{
    color: red;
    padding-left: 10px;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 800;
}
.fridge_section{
    display: inline-flex;
    box-shadow: 5px 5px 5px rgb(248, 185, 173);
}
.fridge_item{
    width: 100%;
    padding-top: 10px;
}
.fridge_image{
    width: 80%;
}