.men_title{
    color: red;
    padding-left: 10px;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 800;
}
.men_section{
    display:inline-flex;
    width: 99%;
    box-shadow: 5px 5px 15px rgba(38, 1, 88, 0.318);
}
.mem_items{
    width: 100%;
}
.men_image{
   width: 80%;
   padding-left: 20px;
   padding-top: 20px;
}