.tv_title{
    color: red;
    padding-left: 10px;
    padding-top: 20px;
    font-weight: 800;
    font-size: 30px;
}
.tv_section{
    display: inline-flex;
    padding-left: 0px;
}
.tv_item{
    width: 100%;
    box-shadow: 5px 5px 5px rgb(214, 247, 250);
}
.tv_image{
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
}