.watchpage_section{
    display: grid;
    width: 100%;
    justify-content: space-evenly;
    grid-template-columns: repeat(4,300px);
}
.watchpage_details{
    padding-bottom: 15px;
    width: 100%;
}
.watchpage_image{
    padding: 20px;
    width: 100%;
}
.watchpage_image > img{
    transition: all 0.3s ease-in-out;
}
.watchpage_image > img:hover{
    transform: scale(1.1);
}
.watchpage_details > div > p{
    text-align: center;
    color: red;
    font-size: 18px;
    font-weight: 600;
}
@media only screen and (max-width:1250px) {
    .watchpage_section{
        display: grid;
        width: 100%;
        justify-content: space-evenly;
        grid-template-columns: repeat(3,300px);
    }
    .watchpage_details > div > p{
        font-size: 17px;
    }
}
@media only screen and (max-width:920px) {
    .watchpage_section{
        display: grid;
        width: 100%;
        justify-content: space-evenly;
        grid-template-columns: repeat(2,250px);
    }
    .watchpage_image > img{
        width: 240px;
    }
}
@media only screen and (max-width:600px) {
    .watchpage_section{
        display: grid;
        width: 100%;
        justify-content: space-evenly;
        grid-template-columns: repeat(1,280px);
    }
    .watchpage_image > img{
        width: 260px;
    }
}